<!DOCTYPE html>
<html>
<head>

    <title><%=title%></title>
    
    <!-- font-awesome for icons  -->
    <script src="https://kit.fontawesome.com/f383b6eabf.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="../css/header.css">
</head>

<body>

    <%- body %>

    <!-- custom js file for file_viewer.html -->
    <script type="text/javascript" src="/js/file_viewer.js"></script>

</body>

</html>